{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
  background-image: linear-gradient(to bottom right,  #6EB6E4 , white);
}
<!--#2CB5E9-->
    </style>
</head>
<body  >



        <!-- Sign up form -->
        <section class="signup " style="position : fixed;margin : auto; top : 15%; left : 20%;">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="post" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label><i class="zmdi zmdi-account material-icons-name"></i></label>
<!--                                <input type="text" name="name" id="name" placeholder="Your Name"/>-->
                                {{ form.username }}
                            </div>
<!--                            <div class="form-group">-->
<!--                                <label ><i class="zmdi zmdi-email"></i></label>-->
<!--&lt;!&ndash;                                <input type="email" name="email" id="email" placeholder="Your Email"/>&ndash;&gt;-->
<!--                                {{ form.email }}-->
<!--                            </div>-->
                            <div class="form-group">
                                <label ><i class="zmdi zmdi-lock"></i></label>
<!--                                <input type="password" name="pass" id="pass" placeholder="Password"/>-->
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                <label ><i class="zmdi zmdi-lock-outline"></i></label>
<!--                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>-->
                                {{ form.password2 }}
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                        {% for message in messages %}
                        <h3>{{ message }}</h3>
                        {% endfor %}
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->
        <!-- <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password"/>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->



    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>